@{
  Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    <h1>@Model["venue"].GetVenueName()</h1>
    <div class="col-md-6">
        <h3>Here are the bands that have played at @Model["venue"].GetVenueName()!</h3>
        @foreach (var band in @Model["venue"].GetBands())
        {
            <h3><a href="/bands/@band.GetBandId()/@band.GetBandName()">@band.GetBandName()</a></h3>
        }

    </div>

    <div class="col-md-6">
        <h2>Add a band that has played at @Model["venue"].GetVenueName()</h2>

        <form class="" action="/venues/@Model["venue"].GetVenueId()/@Model["venue"].GetVenueName()" method="post">
            <input id='venue-id' name='venue-id' type='hidden' value='@Model["venue"].GetVenueId()'>
            <label for="venue-band">Enter a band</label>
            <input type="text" name="add-band" id="add-band" class="form-control" placeholder="Band">
            <button type="submit" class="btn">Add</button>
        </form>
    </div>
</div>
